@import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Major+Mono+Display&family=Space+Mono:wght@700&family=Turret+Road:wght@500;700&family=Zen+Dots&display=swap');

:root{
    --mainNav: #03308D;
    --WhiteNotWhite: rgb(245,245,245);
    --DarkBlue: #010D13;
    --CardsBack: #193F6C;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;                            
}

body{
    background-color: var(--WhiteNotWhite);
}

html{
    scroll-behavior: smooth;
}

section[id]{
    scroll-margin-top: 5rem;
}

header{
    max-width: 1400px;
}

.container{
    max-width: 1400px;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    background-color: var(--WhiteNotWhite);

    width: 100%;
    z-index: 100;
    position: fixed;
}

#logo{
    text-transform: uppercase;
    font-family: 'Zen Dots', cursive;
}

.nav-menu-img{
    width: 15px;
}

.nav-menu-img, .nav-menu-input{
    display: none;
}

a{
    text-decoration: none;
}

nav a{
    color: black;
    padding: .5rem 1rem;
    font-size: .8rem;
    font-family: 'Zen Dots', cursive;
}

nav a:hover{
    border-bottom: .1rem solid black;
    transform: 1s;
}

#hero{
    padding: .5rem 2rem;
    display: flex;
    justify-content: right;
    /* PROBAR ESTE FONDO
    background-image: url(../img/SplitShire-VS-Developer-0137.jpg);
    */
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    background-position: center center;

    background-image: linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../img/SplitShire-VS-Developer-0137.jpg);
}

h1{ 
    font-size: 3rem;
    color: var(--WhiteNotWhite);
    margin: 7rem 0;
    text-align: right;
    font-family: 'Zen Dots', cursive;
}

/* ABOUT ME SECTION */

#about-me{
    max-width: 1400px;
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    gap: 5rem;
}

.about-container{
    display: flex;
    flex-direction: column;
    max-width: 50%;
    margin: 1rem;
    text-align: center;
}

.about-container h2{
    font-family: 'Zen Dots', cursive;
    margin: 1rem;
}

.about-container p{
    max-width: 30rem;
}

#img-about-me{
    width: 20rem;
    height: 20rem;
    margin: 1rem;
    background-image: url(../img/about-me-photo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 2rem;
}


/* PROJECTS SECTION */
#projects{
    background-color: var(--DarkBlue);
    height: fit-content;
    max-width: 1400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    color: var(--WhiteNotWhite);
    padding: 2rem 0;
}

.projects-container{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    text-align: center;
}


.projects-container h2{
    font-family: 'Zen Dots', cursive;
}

.cards-container{
    min-width: fit-content;
    display: flex;
    justify-content: center;
    
    align-items: center;
    margin: 1rem;
    gap: 3rem;
    
    
}


.card{
    min-width: 15rem;
    max-width: 30rem;
    min-height: 15rem;
    margin: .5rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    border: 2px solid black;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    border-radius: 1rem;
    background-color: var(--CardsBack);
    
}

.card h3{
    font-family: 'Zen Dots', cursive;
    margin: 1rem;
}

.card p{
    padding: 0 1rem;
    font-size: 18px;
}

.card a{
    width: 10rem;
    margin: 1rem;
    padding: .5rem;
    color: var(--WhiteNotWhite);
    background-color: blueviolet;
    border: 1.5px solid black;
    border-radius: 1rem;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    font-size: 14px;
    font-family: 'Zen Dots', cursive;
}