@media screen and (max-width: 400px){
    section[id]{
        scroll-margin-top: 15rem;
    }

    .container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    a{
        display: flex;
    }

    a:first-child{
        margin-top: 1rem;
    }

    #hero{
        align-items: center;
        justify-content: center;
    }

    h1{ 
        text-align: center;
        font-size: 3rem;
        margin: 2rem 0;
    }

    #about-me{
        max-width: 1400px;
        display: flex;
        flex-direction: column;
        gap: 0rem;
    }

    .cards-container{
        display: flex;
        flex-direction: column;
    }
    
}