@import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Major+Mono+Display&family=Space+Mono:wght@700&family=Turret+Road:wght@500;700&family=Zen+Dots&display=swap');

:root{
    --mainNav: #03308D;
    --WhiteNotWhite: rgb(245,245,245);
    --DarkBlue: #010D13;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;                            
}

body{
    background-color: var(--WhiteNotWhite);
}

.container{
    max-width: 1400px;
    margin: auto;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    background-color: var(--WhiteNotWhite);
}

#logo{
    text-transform: uppercase;
    font-family: 'Zen Dots', cursive;
}

a{
    text-decoration: none;
    color: black;
    padding: .5rem 1rem;
    font-size: .8rem;
    font-family: 'Zen Dots', cursive;
}

a:hover{
    border-bottom: .1rem solid black;
    transform: 1s;
}

#hero{
    padding: .5rem 2rem;
    /* PROBAR ESTE FONDO
    background-image: url(../img/SplitShire-VS-Developer-0137.jpg);
    */
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    background-position: center center;

    background-image: linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../img/SplitShire-VS-Developer-0137.jpg);
}

h1{ 
    font-size: 3rem;
    color: var(--WhiteNotWhite);
    margin: 7rem 0;
    text-align: right;
    font-family: 'Zen Dots', cursive;
}

/* ABOUT ME SECTION */

#about-me{
    max-width: 1400px;
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    gap: 5rem;
}

.about-container{
    display: flex;
    flex-direction: column;
    max-width: 50%;
    margin: 1rem;
    text-align: center;
}

.about-container p{
    max-width: 30rem;
}

#img-about-me{
    width: 20rem;
    height: 20rem;
    margin: 1rem;
    background-image: url(../img/about-me-photo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 2rem;
}


/* PROJECTS SECTION */
#projects{
    background-color: var(--DarkBlue);
    height: fit-content;
    max-width: 1400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    color: var(--WhiteNotWhite);
}

.projects-container{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    text-align: center;
}

.cards-container{
    min-width: fit-content;
    display: flex;
    justify-content: center;
    background-color: aqua;
    align-items: center;
    margin: 1rem;
    
    
}

.card{
    min-width: 15rem;
    border: 1px solid salmon;
    margin: 1rem;

}